.box1 {
  display: flex;
  width: 500px;

  @media (max-width: 800px) {

  }

  @media (max-width: 450px) {
    width: 170px;
  }
}

.box0 {
  width: 500px;

  @media (max-width: 800px) {

  }

  @media (max-width: 450px) {
    width: 170px;
  }
}