.box1 {
  display: flex;
  width: 260px;

  @media (max-width: 800px) {

  }

  @media (max-width: 450px) {
    width: 238px;
  }

  @media (max-width: 400px) {
    width: 200px;
  }

  @media (max-width: 350px) {
    width: 157px;
  }

  @media (max-width: 361px) {
    width: 167px;
  }

  @media (max-width: 300px) {
    width: 115px;
  }
}

.box0 {
  width: 270px;
  display: flex;
  justify-content: start;

  @media (max-width: 800px) {

  }

  @media (max-width: 450px) {
    // width: 10%;
  }
}