@use './mixins' as *;
@use './utils.scss' as *;

a {
  color: $ColorText;
  text-decoration: none;
}

a.hover {
  border: none !important;
}

.App {
  text-align: center;
  color: $ColorText;

  overflow-x: hidden;
}
